# Ignore build output
dist
build

# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore coverage directory
coverage

# Ignore temporary files
tmp
temp

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
